.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 150px 150px 150px 150px 150px; */
  gap: 6px;
  grid-template-areas:
    'testimonial-1 testimonial-2'
    'testimonial-3 testimonial-4 ';
}

@media (max-width: 640px) {
  .testimonials {
    grid-template-columns: 1fr;

    grid-template-areas:
      'testimonial-1'
      'testimonial-2'
      'testimonial-3'
      'testimonial-4';
  }
}

.testimonial-1,
.testimonial-2,
.testimonial-3,
.testimonial-4,
.testimonial-5,
.testimonial-6 {
  display: flex;
  height: 100%;
  flex-direction: column;
  border-radius: 4px;
}

.testimonial-1 {
  grid-area: testimonial-1;
}

.testimonial-2 {
  grid-area: testimonial-2;
}

.testimonial-3 {
  grid-area: testimonial-3;
}

.testimonial-4 {
  grid-area: testimonial-4;
}

.testimonial-5 {
  grid-area: testimonial-5;
}

.testimonial-6 {
  grid-area: testimonial-6;
}
