.base-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
  grid-template-areas:
    'profile-description profile-description profile-description profile-image'
    'website-alert website-alert website-alert website-alert'
    'featured-blog featured-blog featured-blog featured-blog'
    'projects-info projects-info projects-info projects-info'
    'kind-words kind-words kind-words kind-words'
    'achievements achievements achievements achievements'
    'footer footer footer footer';
}

@media (max-width: 640px) {
  .base-page {
    grid-template-columns: 1fr;
    grid-template-areas:
      'profile-image'
      'profile-description'
      'website-alert'
      'featured-blog'
      'projects-info'
      'kind-words'
      'achievements'
      'footer';
  }
}

.featured-blog {
  grid-area: featured-blog;
}

.footer {
  grid-area: footer;
}

.website-alert {
  grid-area: website-alert;
}

.profile-image {
  grid-area: profile-image;
}

.profile-description {
  grid-area: profile-description;
}

.spotify-embed {
  grid-area: spotify-embed;
}

.projects-info {
  grid-area: projects-info;
}

.kind-words {
  grid-area: kind-words;
}

.achievements {
  grid-area: achievements;
}
