.base-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
  grid-template-areas:
    'website-alert website-alert website-alert website-alert'
    'profile-image profile-description profile-description profile-description'
    'profile-image collaborations-info collaborations-info collaborations-info'
    'profile-image collaborations-links collaborations-links collaborations-links'
    'projects-info projects-info projects-info projects-info'
    'kind-words kind-words kind-words kind-words'
    'spotify-embed spotify-embed spotify-embed spotify-embed'
    'achievements achievements achievements achievements'
    'footer footer footer footer';
}

@media (max-width: 640px) {
  .base-page {
    grid-template-areas:
      'website-alert website-alert website-alert website-alert'
      'profile-image profile-image profile-image profile-image'
      'profile-description profile-description profile-description profile-description'
      'collaborations-info collaborations-info collaborations-info collaborations-info'
      'collaborations-links collaborations-links collaborations-links collaborations-links'
      'projects-info projects-info projects-info projects-info'
      'kind-words kind-words kind-words kind-words'
      'spotify-embed spotify-embed spotify-embed spotify-embed'
      'achievements achievements achievements achievements'
      'footer footer footer footer';
  }
}

.footer {
  grid-area: footer;
}

.website-alert {
  grid-area: website-alert;
}

.profile-image {
  grid-area: profile-image;
}

.profile-description {
  grid-area: profile-description;
}

.collaborations-info {
  grid-area: collaborations-info;
}

.collaborations-links {
  grid-area: collaborations-links;
}

.spotify-embed {
  grid-area: spotify-embed;
}

.projects-info {
  grid-area: projects-info;
}

.kind-words {
  grid-area: kind-words;
}
